<section id="banner-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="caption-content">
					<h1>{{settings.banner_center_h1}}</h1>
					<h3>{{settings.banner_center_h31}}</h3>
					<h3>{{settings.banner_center_h32}}</h3>
					<p><a href="{{settings.btn_collection}}">{{settings.banner_center_btn}}</a></p>
				</div>	
			</div>
			<div class="col-lg-6"></div>
		</div>
	</div>
</section>